html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

body {
  background: $gray-50;
}

.bd-shadow-xs {
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.07);
}

.bd-shadow-lg {
  box-shadow: 6px 28px 11px rgba(34, 41, 55, 0.01),
    4px 15px 10px rgba(34, 41, 55, 0.05), 2px 7px 7px rgba(34, 41, 55, 0.09),
    0px 2px 4px rgba(34, 41, 55, 0.1), 0px 0px 0px rgba(34, 41, 55, 0.1);
}

@include media-breakpoint-up(sm) {
  .container-fluid {
    padding: 0 2rem;
  }
}

@include media-breakpoint-up(md) {
  .container-fluid {
    padding: 0 8rem;
  }
}

.bd-btn-link {
  text-decoration: none;
  color: $gray-700;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 4px;
  &:hover {
    background: $gray-100;
    color: $gray-700;
  }
}
