.bd-appointment-list-wrapper {
  display: flex;
}
.bd-calender-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.color-calendar {
  &.glass {
    color: $gray-500;
    font-weight: 400;
    border: none !important;
    box-shadow: 0px 1px 0px 0 rgba(0, 0, 0, 0.07);
  }
}
.appointment-list-wrapper {
  width: calc(100% - 307px);
  max-height: 325px;
  overflow: auto;
}

.appointment-list-item {
  display: flex;
  justify-items: center;
  align-items: center;
  background: $white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 1px 0px 0 rgba(0, 0, 0, 0.07);
  &:hover {
    cursor: pointer;
    background: $gray-100;
  }

  img {
    height: auto;
    width: 56px;
    margin-right: 1rem;
    // background: $gray-100;
  }
}

.right-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.item-meta {
  h5 {
    font-size: 18px;
    color: $gray-700;
    margin-bottom: 0px;
  }
  p {
    margin-bottom: 0;
    line-height: 1;
    color: $gray-400;
    font-size: 14px;
  }
}

.status {
  padding: 5px 10px;
  border-radius: 8px;
  text-transform: capitalize;
}

.pending {
  color: #007bff;
  background-color: rgba(#007bff, 0.1); // Blue
}

.completed {
  color: #28a745;
  background-color: rgba(#28a745, 0.1); // Green
}

.rescheduled {
  color: #ffc107;
  background-color: rgba(#ffc107, 0.1); // Yellow
}

.cancelled {
  color: #dc3545;
  background-color: rgba(#dc3545, 0.1); // Red
}
