.bd-user-card {
  img {
    width: 56px;
    height: auto;
    margin-right: 1rem;
  }
  .card {
    padding: 1.5rem;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .card-heading {
    // margin-bottom: 2.5rem;
    margin-bottom: 1rem;
    h4 {
      font-size: 1.2rem;
      margin-bottom: 0;
      color: $gray-500;
      font-weight: 600;
      line-height: 1.5rem;
    }
    span {
      color: $gray-400;
      font-size: 14px;
    }
  }
  .bd-card-body {
    display: flex;
    .card-stats {
      display: flex;
      margin-right: 1.5rem;
      align-items: flex-start;

      h4 {
        font-size: 16px;
        margin-bottom: 0;
      }

      span {
        display: block;
        text-wrap: nowrap;
        color: $gray-400;
        &:nth-child(2) {
          padding-bottom: 8px;
        }
      }
    }
  }
}
.bd-status-card {
  margin-top: 2rem;
  min-height: 170px;
  padding: 1.5rem;
  display: flex;
  justify-content: end;
  width: 100%;
  position: relative;
  img {
    position: absolute;
    left: 1rem;
    top: -1rem;
    height: auto;
    &.appointment-pending {
      width: 80px;
    }
    &.appointment-cancel {
      width: 64px;
    }
    &.appointment-completed {
      width: 56px;
    }
    &.appointment-resheduled {
      width: 70px;
      top: -1.75rem;
    }
  }
  > span {
    color: $gray-400;
    display: inline-block;
    margin-bottom: 0.5rem;
  }
  h4 {
    color: $purple;
  }
}

// @include media-breakpoint-up(sm) {
//   .bd-user-card {
//     .card {
//       max-width: 80%;
//     }
//   }

//   .bd-status-card {
//     margin-top: 3rem;
//     min-height: 175px;
//   }
// }

// @include media-breakpoint-up(lg) {
//   .bd-user-card {
//     .card {
//       max-width: 90%;
//     }
//     img {
//       left: 73%;
//       // display: none;
//     }
//   }
// }

// @include media-breakpoint-up(xl) {
//   .bd-user-card {
//     img {
//       width: 210px;
//       left: 80%;
//       top: -50%;
//     }
//   }
// }

@include media-breakpoint-up(xxl) {
  .bd-user-card {
    img {
      // width: 56px;
    }
  }

  .bd-status-card {
    margin-top: 0rem;
  }
}
