.bd-welcome-message {
  margin-top: 3rem;
  div {
    justify-content: flex-start;
    align-items: center;
    h2 {
      margin-right: 0.5rem;
      margin-bottom: 0;
      color: $gray-600;
    }
  }
  p {
    color: $gray-400;
  }
}
